node-red/flows.json
[
    {
        "id": "petra-test-flow",
        "type": "tab",
        "label": "Petra PLC Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt-broker",
        "type": "mqtt-broker",
        "name": "Petra MQTT",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "node-red-petra",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "start-button",
        "type": "ui_button",
        "z": "petra-test-flow",
        "name": "Start Motor",
        "group": "motor-controls",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "START",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "{\"type\":\"SetSignal\",\"name\":\"start_button\",\"value\":true}",
        "payloadType": "json",
        "topic": "petra/plc/cmd",
        "x": 150,
        "y": 100,
        "wires": [["mqtt-send", "pulse-reset"]]
    },
    {
        "id": "stop-button",
        "type": "ui_button",
        "z": "petra-test-flow",
        "name": "Stop Motor",
        "group": "motor-controls",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"type\":\"SetSignal\",\"name\":\"stop_button\",\"value\":true}",
        "payloadType": "json",
        "topic": "petra/plc/cmd",
        "x": 150,
        "y": 160,
        "wires": [["mqtt-send", "pulse-reset"]]
    },
    {
        "id": "temp-slider",
        "type": "ui_slider",
        "z": "petra-test-flow",
        "name": "Temperature",
        "label": "Temperature °C",
        "tooltip": "",
        "group": "process-values",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": "0",
        "max": "100",
        "step": "0.5",
        "className": "",
        "x": 150,
        "y": 240,
        "wires": [["temp-format"]]
    },
    {
        "id": "temp-format",
        "type": "function",
        "z": "petra-test-flow",
        "name": "Format Temp",
        "func": "msg.payload = {\n    \"type\": \"SetSignal\",\n    \"name\": \"temperature\",\n    \"value\": msg.payload\n};\nmsg.topic = \"petra/plc/cmd\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 240,
        "wires": [["mqtt-send"]]
    },
    {
        "id": "mqtt-send",
        "type": "mqtt out",
        "z": "petra-test-flow",
        "name": "Send to Petra",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "pulse-reset",
        "type": "delay",
        "z": "petra-test-flow",
        "name": "Reset Pulse",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 350,
        "y": 130,
        "wires": [["reset-signal"]]
    },
    {
        "id": "reset-signal",
        "type": "function",
        "z": "petra-test-flow",
        "name": "Reset Signal",
        "func": "let signal = msg.payload.name;\nmsg.payload = {\n    \"type\": \"SetSignal\",\n    \"name\": signal,\n    \"value\": false\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 130,
        "wires": [["mqtt-send"]]
    },
    {
        "id": "motor-status",
        "type": "mqtt in",
        "z": "petra-test-flow",
        "name": "Motor Status",
        "topic": "petra/plc/signals/motor_run",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 340,
        "wires": [["motor-led"]]
    },
    {
        "id": "motor-led",
        "type": "ui_led",
        "z": "petra-test-flow",
        "order": 0,
        "group": "status",
        "width": 0,
        "height": 0,
        "label": "Motor Running",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00ff00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowBlank": false,
        "valueFormat": "value.value",
        "name": "motor-led",
        "x": 350,
        "y": 340,
        "wires": []
    },
    {
        "id": "poll-timer",
        "type": "inject",
        "z": "petra-test-flow",
        "name": "Poll Signals",
        "props": [{"p": "payload"}],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"GetAllSignals\"}",
        "payloadType": "json",
        "x": 150,
        "y": 420,
        "wires": [["poll-send"]]
    },
    {
        "id": "poll-send",
        "type": "mqtt out",
        "z": "petra-test-flow",
        "name": "Poll Petra",
        "topic": "petra/plc/cmd",
        "qos": "1",
        "retain": "",
        "broker": "mqtt-broker",
        "x": 340,
        "y": 420,
        "wires": []
    },
    {
        "id": "motor-controls",
        "type": "ui_group",
        "name": "Motor Controls",
        "tab": "petra-dashboard",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "process-values",
        "type": "ui_group",
        "name": "Process Values",
        "tab": "petra-dashboard",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "status",
        "type": "ui_group",
        "name": "Status",
        "tab": "petra-dashboard",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "petra-dashboard",
        "type": "ui_tab",
        "name": "Petra PLC",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
